<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>
    <mat-icon>
      gamepad
    </mat-icon>
    Szachy!
  </span>

  <div class="spacer"></div>

  <a mat-button routerLink="Home">Home</a>
  <a mat-button routerLink="Puzzles">Puzzles</a>
  <a mat-button routerLink="Challange">Challange the bot</a>
  <a mat-button routerLink="Hot">Hot seat</a>
  <a mat-button routerLink="Multiplayer">Multiplayer</a>
  <a mat-raised-button color="accent" routerLink="account">My account</a>
</mat-toolbar>
